
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8">
		<link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">
		<title>DUI</title>
		<style type="text/css">
			body,input{
				font-family: "Microsoft YaHei","Hiragino Sans","WenQuanYi Micro Hei";
  				color: #565656;
			}
			body{
			  margin: 0;
			  border-top: solid 3px #636363;
			  text-align: center;
			}
			#search_box{
				width: 800px;
				padding: 5px 10px;
				font-size: 24px;
				margin: 50px 20px;
				border: solid 8px #636363;
				border-radius: 3px;
				color: #21B1F5;
				outline: none;
			}
			#result{
				margin: 20px;
			}
			.image{
				text-align: left;
				margin: 5px 0;
				border-radius: 3px;
			}
			.image .header{
				background-color: rgba(130, 130, 130, 0.5);
			    cursor: pointer;
			    font-size: 18px;
			    color: #fff;
			    padding: 10px;
			}
			.image .header:hover{
				opacity: .8;
			}
			.image .tagbox{
				color: #666767;
				display: none;
			}
			.image .tag{
				padding: 8px;
				background-color: #EAEAEA;
				font-size: 12px;
			}
			.image .tag:nth-child(2n){
               background-color: #D8D8D8;
               border-top: solid 1px #636363;
               border-bottom: solid 1px #636363;
			}
			.image .tag > div{
				display: inline-block;

			}
			.image .tag > div:nth-child(1) > div{
				margin: 2px 0;
			}
			.image .tag > div:nth-child(2){
				float: right;
				position: relative;
    			top: 10px;
			}
			.image.open .header{
				background-color: #636363;
			}
			.image.open .tagbox{
				display: block;
			}
			span {
			    background-color: #669DF1;
			    padding: 0 2px;
			    color: #fff;
			}
			.tagcmd{
				cursor: pointer;
			}

#settings{
    position: fixed;
    background-color: #fff;
    font-size: 0;
    top: 0px;
    right: 0px;
    border: solid 3px #636363;
    border-radius: 5px;
}
#settings div{
    padding: 5px 10px;
    font-size: 18px;
    display: inline-block;
    color: #ddd;
    cursor: pointer;
}
#settings div.on{
    color: #636363;
}
#settings div:hover{
    background-color: #636363;
    color: #fff;
}
		</style>
	</head>
	<body>
		<input id='search_box' placeholder='Img Name OR Tag OR Hash'>
        <div id='settings'></div>
		<div id='result'></div>
<script type="text/javascript">
window.onload = function(){
    document.getElementById("search_box").focus();
};
URL_PREFIXS={
    "公网":"dhub.kuaikuaiyu.com",
    "内网":"inner-dhub.kuaikuaiyu.com"
}
CHOOSED_URL_PREFIX=null;
if(localStorage.CHOOSED_URL_PREFIX){
    CHOOSED_URL_PREFIX=URL_PREFIXS[localStorage.CHOOSED_URL_PREFIX];
}
if(!CHOOSED_URL_PREFIX){
    CHOOSED_URL_PREFIX=URL_PREFIXS["公网"];
    localStorage.CHOOSED_URL_PREFIX="公网";
}

function change_url_prefix(){
    var nodes=document.getElementsByClassName('tagcmd')
        newprefix=URL_PREFIXS[this.__url_prefix];
    for(var i in nodes){
        if(nodes[i]&&nodes[i].innerHTML){
            nodes[i].innerHTML=nodes[i].innerHTML.replace(CHOOSED_URL_PREFIX,newprefix)
        }
    }
    document.getElementById('URLPREFIX_'+localStorage.CHOOSED_URL_PREFIX).className='';
    localStorage.CHOOSED_URL_PREFIX=this.__url_prefix;
    CHOOSED_URL_PREFIX=URL_PREFIXS[localStorage.CHOOSED_URL_PREFIX];
    document.getElementById('URLPREFIX_'+localStorage.CHOOSED_URL_PREFIX).className='on';
}

for(url_prefix in URL_PREFIXS){
    var prefixbtn=document.createElement('div');
    prefixbtn.innerHTML=url_prefix;
    if(url_prefix==localStorage.CHOOSED_URL_PREFIX){
        prefixbtn.className='on';
    }
    prefixbtn.__url_prefix=url_prefix;
    prefixbtn.id='URLPREFIX_'+url_prefix;
    prefixbtn.addEventListener('click',change_url_prefix)
    document.getElementById('settings').appendChild(prefixbtn);
}

	DATAS={
		{% for name, tags in infos.items() %}
			"{{ name }}":{
				{% for t in tags %}
                "{{ t["tag"] }}":"{{ t["hash"] }}",
				{% end %}
			},
		{% end %}
	}
	function search_text(text) {
		var results=[]
		for(var name in DATAS){
			if(name.indexOf(text)!=-1){
				results.push({
'name':name,
'tags':DATAS[name],
'open':false
})
			}
			for(var tag in DATAS[name]){
				if(tag.indexOf(text)!=-1||DATAS[name][tag].indexOf(text)!=-1){
					var o={
						'name':name,
						'tags':{},
						'open':true
					}
					o.tags[tag]=DATAS[name][tag]
					results.push(o)
				}
			}
		}
		build_results(results,text)
	}
	var result_box=document.getElementById('result');
	function build_results(datas,text){
		if(!datas){
			var datas=[];
			for(var name in DATAS){
				datas.push({
'name':name,
'tags':DATAS[name],
'open':false
})
			}
		}
		result_box.innerHTML='';
		for(var i=0;i<datas.length;i++){
			var newimage=document.createElement('div');
			if(datas[i].open){
				newimage.className='image open';
			}else{
				newimage.className='image';
			}
			var image_header=document.createElement('div');
			var name=datas[i].name;
			name=name.replace(text,'<span>'+text+'</span>')
			image_header.innerHTML=name;
			image_header.className='header';
			image_header.__mom=newimage
			var tagbox=document.createElement('div');
			tagbox.className='tagbox';
			result_box.appendChild(newimage);
			newimage.appendChild(image_header);
			newimage.appendChild(tagbox);
			image_header.addEventListener('click',open_image);
			for(var tname in datas[i].tags){
				var tag=document.createElement('div');
				tag.className='tag';
				var tagName=tname.replace(text,'<span>'+text+'</span>');
				var hash=datas[i].tags[tname].replace(text,'<span>'+text+'</span>');
                fullname = CHOOSED_URL_PREFIX + '/' + datas[i].name + ':' + tname;
                tag.innerHTML='<div><div><b>Tag :</b> '+tagName+'</div><div><b>LatestFSHash:</b> '+hash + '</div></div>'
				var tagcmd=document.createElement('div');
				tagcmd.className='tagcmd';
				tagcmd.addEventListener('click',selectText);
                tagcmd.innerHTML= fullname;
				tagbox.appendChild(tag);
				tag.appendChild(tagcmd);
			}
		}
	}
	document.getElementById('search_box').addEventListener('focus',start_search_listener);
	document.getElementById('search_box').addEventListener('blur',end_search_listener);
	var search_listener_timer=null,last_word='null';
	function start_search_listener(){
		if(search_listener_timer){
			clearInterval(search_listener_timer);
		}
		last_word=document.getElementById('search_box').value;
		search_listener_timer=setInterval(search_listener,200);
	}
	function end_search_listener(){
		if(search_listener_timer){
			clearInterval(search_listener_timer);
		}
		search_listener();
	}
	function search_listener(){
		var word = document.getElementById('search_box').value;
		if(word == last_word){
			return;
		}
		last_word=word;
		if( last_word == ''|| typeof last_word == "undefined"){
			build_results(0,'NULLINPUT__++==**&&')
		}else{
			search_text(last_word)
		}
	}
	function open_image(){
		if(this.__mom.className=='image open'){
			this.__mom.className='image';
		}else{
			this.__mom.className='image open';
		}
	}
	function selectText() {
	    if (document.selection) {
	        var range = document.body.createTextRange();
	        range.moveToElementText(this);
	        range.select();
	    } else if (window.getSelection) {
	        var range = document.createRange();
	        range.selectNode(this);
	        window.getSelection().addRange(range);
	    }
	}
	search_listener();
</script>
</body>
</html>

